@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --main-text-color: #141c3a;
  --blue: #3069f0;
  --red: #fd4d3f;
  --gray: rgba(20, 28, 58, 0.5);
  --shadow: 0 0 21px 0 rgba(20, 28, 58, 0.7);
  --white: #ffffff;
}

body {
  font-family: 'Oxygen', sans-serif;
  color: var(--main-text-color);
  padding: 24px 20px 0px 20px;
  margin: 0;
}

h1 {
  font-size: 53px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 32px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 32px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 2px 0px 0px 0px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
